<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LEE PORTFOLIO</title>
    <!-- <style>
        header {
            display: flex;
            justify-content: flex-end;
            padding: 20px; /* Add padding to give some space */
            background-color: #f0f0f0; /* Optional: add background color */
        }
        header a {
            margin-left: 20px; /* Add margin between the links */
            text-decoration: none; /* Remove underline */
            color: #333; /* Set link color */
        }
    </style>
</head> -->
<body>
    <header>
     
    </header>

    {% block content %}
    {% endblock content %}
</body>
</html>
